extends componentes/plantilla.pug
block continuar        
        section.intro
            .intro__imagen: img(src="images/imagen.png", alt="")
            .intro__contenido
                h2 Titulo principal
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus, dignissimos. Lorem ipsum dolor sit amet.
                span Lorem ipsum dolor, sit amet consectetur adipisicing.
                a.boton leer mas
        
        main.contenido
            
        
        footer
            h2 platziGames
            ul
                li Acerca 
                li Noticias
                li Contacto


